@{
    ViewData["Title"] = @_lang.Getkey("contact");
}

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-title">
                    <h4>@_lang.Getkey("contacts_us")</h4>
                    <p>
                        @_lang.Getkey("contrary")
                    </p>
                </div>
                <div class="contact-widget">
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="ci-text">
                            <span>@_lang.Getkey("address"):</span>
                            <p>60-49 Road 11378 New York</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="ci-text">
                            <span>@_lang.Getkey("phone"):</span>
                            <p>+65 11.188.888</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-email"></i>
                        </div>
                        <div class="ci-text">
                            <span>Email:</span>
                            <p>hellocolorlib@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="contact-form">
                    <div class="leave-comment">
                        <h4>@_lang.Getkey("leave_a_comment")</h4>
                        <p>@_lang.Getkey("our_staff")</p>
                        <form action="#" class="comment-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="@_lang.Getkey("your_name")">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="@_lang.Getkey("your_email")">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="@_lang.Getkey("your_message")"></textarea>
                                    <button type="submit" class="site-btn">@_lang.Getkey("send_message")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>