@{
    ViewData["Title"] = "Payment";
}

@using EcommerceFashionWebsite.ViewComponentsModel;
@using EcommerceFashionWebsite.Extensions;
@model CartWishListModel

<form method="post">
<div class="container-fluid content-inner pb-0" id="page_layout">
    <input type="hidden" asp-for="@Model.DeliveryMethod" />
    <input type="hidden" asp-for="@Model.UserModel.Address" />
    <input type="hidden" asp-for="@Model.UserModel.Phone" />
        <input type="hidden" asp-for="@Model.UserModel.Email" />
        <input type="hidden" asp-for="@Model.UserModel.Name" />
    <div class="row">
        <ul class="text-center iq-product-tracker mb-0 py-4" id="progressbar">
            <li class="iq-tracker-position-0" id="iq-tracker-position-1">Cart</li>
            <li class="iq-tracker-position-0" id="iq-tracker-position-2">Checkout</li>
            <li class="iq-tracker-position-0 active" id="iq-tracker-position-3">Payment</li>
        </ul>
        <div id="paymentbtn" class="iq-product-tracker-card show b-0">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Payment Options</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex mt-3 gap-3">
                                    <img class="img-fluid" src="~/e-commerce/images/user-cards/02.png" alt="01" loading="lazy" />
                                    <h6 class="mb-0">Barclays Bank Debit Card ending in 7852</h6>
                                </div>
                                <h6 class="mb-0 mt-3">Elon Musk</h6>
                                <h6 class="mb-0 mt-3">06 / 2030</h6>
                            </div>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="mb-4">
                                        <label class="form-label">
                                            <span class="h6">Enter CVV</span>
                                        </label>
                                        <input type="text" class="form-control" required="" placeholder="XXX">
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-2">Continue</button>
                                </div>
                            <hr>
                            <div class="card-lists">
                                <div class="form-group mt-4">
                                    <div class="form-check mb-4">
                                        <input type="radio" id="credit" name="customRadio" class="form-check-input" checked>
                                        <label class="custom-control-label" for="credit">
                                            <span class="h6">Credit / Debit / ATM Card</span>
                                        </label>
                                    </div>
                                    <div class="form-check mb-4">
                                        <input type="radio" id="netbaking" name="customRadio" class="form-check-input">
                                        <label class="custom-control-label" for="netbaking">
                                            <span class="h6"> Net Banking</span>
                                        </label>
                                    </div>
                                    <div class="form-check mb-4">
                                        <input type="radio" id="emi" name="customRadio" class="form-check-input">
                                        <label class="custom-control-label" for="emi">
                                            <span class="h6">EMI (Easy Installment)</span>
                                        </label>
                                    </div>
                                    <div class="form-check mb-4">
                                        <input type="radio" id="cod" name="customRadio" class="form-check-input">
                                        <label class="custom-control-label" for="cod">
                                            <span class="h6">Cash On Delivery</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex flex-wrap gap-2">
                                <button type="submit" class="btn btn-primary mt-2">Add Gift Card</button>
                                <a class="btn btn-primary mt-2" href="#" role="button">cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Order Summary</h4>
                        </div>
                        <div class="card-body">
                            <div class="border-bottom">
                                @* <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="CouponCode">
                                <button class="btn btn-primary" type="button" id="CouponCode">Apply</button>
                                </div> *@
                            </div>
                            <div class="border-bottom mt-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <h6>Subtotal</h6>
                                    <h6 class="text-primary">@(new FormatHandle().FormatNumber(Model.TotalPrice)) đ</h6>
                                </div>
                                <div class="d-flex justify-content-between mb-4">
                                    <h6>Discount(30%)</h6>
                                    <h6 class="text-success">-@(new FormatHandle().FormatNumber((int)(Model.TotalPrice * 0.3))) đ</h6>
                                </div>
                                <div class="d-flex justify-content-between mb-4">
                                    <h6>Shipping @(Model.DeliveryMethod == DeliveryMethodType.Standard ? "Standard" : "Express")</h6>
                                    <h6 class="@(Model.DeliveryMethod == DeliveryMethodType.Standard ? "text-success" : "")">@(Model.DeliveryMethod == DeliveryMethodType.Standard ? "FREE" : "15.000đ")</h6>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <h6 class="mb-0">Order Total</h6>
                                    <h5 class="text-primary mb-0"></h5>
                                </div>
                                <div class="alert border-primary rounded border border-1 mb-4">
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <h6 class="text-primary mb-0">Total </h6>
                                        <h6 class="text-primary mb-0"><b>@(new FormatHandle().FormatNumber((int)(Model.TotalPrice * 0.7 - (Model.DeliveryMethod == DeliveryMethodType.Standard ? 0 : 15)))) đ</b></h6>
                                    </div>
                                </div>
                                <div class="alert border-primary rounded border border-1 mb-4">
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <h6 class="text-primary mb-0">Expected date of delivery</h6>
                                        <h6 class="text-primary mb-0">@((DateTime.Now).AddDays(7).ToString("dd/MM/yyyy"))</h6>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button action="submit" class="btn btn-primary d-block mt-3 w-100">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</form>

@section scripts {
    <script>
        $(document).ready(function () {

        });
    </script>
}