@{
    ViewData["Title"] = "Add Product";
}
@using EcommerceFashionWebsite.Areas.Admin.ViewModels;
@model CreateProductViewModel;
<div class="content-inner container-fluid pb-0" id="page_layout">
    <div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Add Product</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="new-user-info">
                            <form method="post" enctype="multipart/form-data">
                                <div class="row gy-3">
                                    <div class="form-group col-md-6">
                                        <label asp-for="Name" class="form-label">Name:</label>
                                        <input asp-for="Name" class="form-control" aria-required="true" placeholder="Name..." />
                                        <span asp-validation-for="Name" class="text-danger mt-1"></span>
                                    </div>

                                    <div class="group-input col-md-6">
                                        <label asp-for="SelectedCategories" class="control-label mb-1">Categories:</label>
                                        <select asp-for="SelectedCategories" asp-items="Model.CategoriesSelectList" multiple class="form-control"></select>
                                        <span asp-validation-for="Sizes" class="text-danger"></span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label asp-for="Desc" class="form-label">Description:</label>
                                        <textarea asp-for="Desc" rows="3" class="form-control" placeholder="Description..."></textarea>
                                        <span asp-validation-for="Desc" class="text-danger mt-1"></span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label asp-for="Introduction" class="form-label">Introduction:</label>
                                        <textarea asp-for="Introduction" rows="3" class="form-control" placeholder="Introduction..."></textarea>
                                        <span asp-validation-for="Introduction" class="text-danger mt-1"></span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label asp-for="Features" class="form-label">Features:</label>
                                        <textarea asp-for="Features" rows="3" class="form-control" placeholder="Features..."></textarea>
                                        <span asp-validation-for="Features" class="text-danger mt-1"></span>
                                    </div>

                                    <div class="form-group col-md-6">
                                            <label asp-for="SupplierId" class="control-label mb-1">Suppliers:</label>
                                            <select asp-for="SupplierId" asp-items="Model.SupplierSelectedList" class="form-control">
                                                <option disabled selected>Select Suppliers</option>
                                            </select>
                                            <span asp-validation-for="SupplierId" class="text-danger"></span>
                                    </div>

                                    <div class="group-input col-md-6">
                                        <label asp-for="Sizes" class="form-label">Size:</label>
                                        <select asp-for="Sizes" class="form-control">
                                            <option value="">Select size</option>
                                            <option value="@Sizes.S">Small</option>
                                            <option value="@Sizes.M">Medium</option>
                                            <option value="@Sizes.L">Large</option>
                                            <option value="@Sizes.XL">Extra Large</option>
                                            <option value="@Sizes.XXL">2 Extra Large</option>
                                            <option value="@Sizes.XXXL">3 Extra Large</option>
                                        </select>
                                        <span asp-validation-for="Sizes" class="text-danger"></span>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label class="form-label" asp-for="Colors">Colors</label>
                                        <input type="color" class="form-control" asp-for="Colors" value="#456575">
                                        <span asp-validation-for="Colors" class="text-danger"></span>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label asp-for="Tags" class="form-label">Tags:</label>
                                        <input asp-for="Tags" class="form-control" aria-required="true" placeholder="Tags..." />
                                        <span asp-validation-for="Tags" class="text-danger mt-1"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" asp-for="NumberInStock">NumberInStock</label>
                                        <input type="number" class="form-control" asp-for="NumberInStock" value="0">
                                        <span asp-validation-for="NumberInStock" class="text-danger mt-1"></span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-label" asp-for="PriceOrigin">PriceOrigin</label>
                                        <input type="number" class="form-control" asp-for="PriceOrigin" value="0">
                                        <span asp-validation-for="PriceOrigin" class="text-danger mt-1"></span>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="form-label" asp-for="PriceApply">PriceApply</label>
                                        <input type="number" class="form-control" asp-for="PriceApply" value="0">
                                        <span asp-validation-for="PriceApply" class="text-danger mt-1"></span>
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="Images" class="form-label">Images:</label>
                                        <div id="imagePreview"></div>
                                        <input asp-for="Images" id="images-upload" type="file" class="form-control" placeholder="Images..." multiple="multiple" accept="image/jpeg, image/png, image/jpg"/>
                                        <span asp-validation-for="Images" class="text-danger mt-1"></span>
                                    </div>

                                    <script>
                                        // Lắng nghe sự kiện khi người dùng chọn hình ảnh
                                        document.getElementById('images-upload').addEventListener('change', function (event) {
                                            var files = event.target.files;
                                            var imagePreview = document.getElementById('imagePreview');

                                            if (imagePreview.innerHTML !== '')
                                                imagePreview.innerHTML = '';

                                            // Kiểm tra xem người dùng đã chọn hình ảnh chưa
                                            if (files && files.length > 0) {
                                                for (let i = 0; i < files.length; i++) {
                                                    if (!files[i].type.match("image")) continue;
                                                    var reader = new FileReader();

                                                    // Đọc hình ảnh thành dạng URL dựa trên File API
                                                    reader.onload = function (e) {
                                                        const div = document.createElement("div");
                                                        div.innerHTML = '<img src="' + e.target.result + '" class="img-preview object-cover rounded my-2 mb-3" width="135" height="135" />';
                                                        // Hiển thị hình ảnh trước khi tải lên
                                                        imagePreview.appendChild(div);
                                                    };

                                                    // Đọc hình ảnh như một URL dựa trên File API
                                                    reader.readAsDataURL(files[i]);
                                                }
                                            } else {
                                                // Nếu không có hình ảnh được chọn, xóa hình ảnh xem trước
                                                imagePreview.innerHTML = '';
                                            }
                                        });
                                    </script>

                                </div>
                                <button type="submit" class="btn btn-primary mt-3">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>