@{
    ViewData["Title"] = "Check Out";
}
<section class="checkout-section spad">
    <div class="container">
        <form action="#" class="checkout-form">
            <div class="row">   
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <a href="#" class="content-btn">@_lang.Getkey("click_here_login")</a>
                    </div>
                    <h4>@_lang.Getkey("biiling")</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fir">@_lang.Getkey("first_name")<span>*</span></label>
                            <input type="text" id="fir">
                        </div>
                        <div class="col-lg-6">
                            <label for="last">@_lang.Getkey("last_name")<span>*</span></label>
                            <input type="text" id="last">
                        </div>
                        <div class="col-lg-12">
                            <label for="cun-name">@_lang.Getkey("company_name")</label>
                            <input type="text" id="cun-name">
                        </div>
                        <div class="col-lg-12">
                            <label for="cun">@_lang.Getkey("coutry")<span>*</span></label>
                            <input type="text" id="cun">
                        </div>
                        <div class="col-lg-12">
                            <label for="street">@_lang.Getkey("street")<span>*</span></label>
                            <input type="text" id="street" class="street-first">
                            <input type="text">
                        </div>
                        <div class="col-lg-12">
                            <label for="zip">@_lang.Getkey("posdcade")</label>
                            <input type="text" id="zip">
                        </div>
                        <div class="col-lg-12">
                            <label for="town">@_lang.Getkey("town_city")<span>*</span></label>
                            <input type="text" id="town">
                        </div>
                        <div class="col-lg-6">
                            <label for="email">@_lang.Getkey("email_adress")<span>*</span></label>
                            <input type="text" id="email">
                        </div>
                        <div class="col-lg-6">
                            <label for="phone">@_lang.Getkey("phone")<span>*</span></label>
                            <input type="text" id="phone">
                        </div>
                        <div class="col-lg-12">
                            <div class="create-item">
                                <label for="acc-create">
                                    @_lang.Getkey("create_account")
                                    <input type="checkbox" id="acc-create">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <input type="text" placeholder=@_lang.Getkey("enter_coupon_code")>
                    </div>
                    <div class="place-order">
                        <h4>@_lang.Getkey("your_order")</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>@_lang.Getkey("product") <span>@_lang.Getkey("total")</span></li>
                                <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
                                <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
                                <li class="fw-normal">Combination x 1 <span>$120.00</span></li>
                                <li class="fw-normal">@_lang.Getkey("subtotal") <span>$240.00</span></li>
                                <li class="total-price">@_lang.Getkey("total") <span>$240.00</span></li>
                            </ul>
                            <div class="payment-check">
                                <div class="pc-item">
                                    <label for="pc-check">
                                        @_lang.Getkey("payment")
                                        <input type="checkbox" id="pc-check">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <label for="pc-paypal">
                                        @_lang.Getkey("paypal")
                                        <input type="checkbox" id="pc-paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="order-btn">
                                <button type="submit" class="site-btn place-btn">@_lang.Getkey("place_order")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>