        @{
    ViewData["Title"] = @_lang.Getkey("login");
}
@model UserModel
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>@_lang.Getkey("login")</h2>
                    <form method="post">
                        <div class="group-input">
                            <label asp-for="Username">@_lang.Getkey("username_or_email")</label>
                            <input asp-for="Username" type="text" id="username">
                            <span asp-validation-for="Username" class="text-danger"></span>

                        </div>
                        <div class="group-input">
                            <label asp-for="Password">@_lang.Getkey("password")</label>
                            <input asp-for="Password" type="password" id="pass">
                        </div>
                        <div class="group-input gi-check">
                            <div class="gi-more">
                                <label for="save-pass">
                                    @_lang.Getkey("save_password")
                                    <input type="checkbox" id="save-pass">
                                    <span class="checkmark"></span>
                                </label>
                                <a href="#" class="forget-pass">@_lang.Getkey("forger_password")</a>
                            </div>
                        </div>
                        <button type="submit" class="site-btn login-btn">@_lang.Getkey("sign_in")</button>
                    </form>
                    <div class="switch-login">
                        <a href="~/register" class="or-login">@_lang.Getkey("or_create")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
