<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/user/css/style.css" type="text/css">
</head>

<body>
    
    <!-- Page Preloder -->
    @* <div id="preloder">
        <div class="loader"></div>
    </div> *@

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        hello.sinh@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +0 11.188.888
                    </div>
                </div>
                <div class="ht-right">

                    <partial name="_LoginPartial" />
                    
                    <div class="lan-selector">
                        
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle m-0 p-0 px-1 border-0" data-bs-toggle="dropdown"> @_lang.Getkey("language") </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="dropdown-item">
                                        <i class="flag-icon flag-icon-gb"></i> English
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="vi-VN" class="dropdown-item">
                                        <i class="flag-icon flag-icon-gb"></i> Tiếng Việt
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="top-social">    
                        <a href="https://www.facebook.com/"><i class="ti-facebook"></i></a>
                        <a href="https://www.twitter.com"><i class="ti-twitter-alt"></i></a>
                        <a href="https://www.instagram.com"><i class="ti-linkedin"></i></a>
                        <a href="https://www.pinterest.com"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="#">
                                <img src="~/user/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn">@_lang.Getkey("all_categories")</button>
                            <div class="input-group">
                                <input type="text" placeholder="@_lang.Getkey("title_search")">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <partial name="_CartPartial" />
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>@_lang.Getkey("all_departments")</span>
                        <ul class="depart-hover">
                            <li class="active"><a href="#">@_lang.Getkey("womens_clothing")</a></li>
                            <li><a href="#">@_lang.Getkey("mens_clothing")</a></li>
                            <li><a href="#">@_lang.Getkey("underwear")</a></li>
                            <li><a href="#">@_lang.Getkey("kids_clothing")</a></li>
                            <li><a href="#">@_lang.Getkey("brand_fashion")</a></li>
                            <li><a href="#">@_lang.Getkey("accessories_shoes")</a></li>
                            <li><a href="#">@_lang.Getkey("luxury_brands")</a></li>
                            <li><a href="#">@_lang.Getkey("brand_outdoor")</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li id="home"><a href="~/user/User/Home">Home</a></li>
                        <li id="shop"><a href="~/user/User/Shop">Shop</a></li>
                        <li id="collection">
                            <a href="#">@_lang.Getkey("collection") </a>
                            <ul class="dropdown">
                            </ul>
                        </li>
                        <li id="blog"><a href="~/user/User/Blog">Blog</a></li>
                        <li id="contact"><a href="~/user/User/Contact">Contact</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="dropdown">
                                <li id="blog-details"><a href="~/user/User/log-details">Blog Details</a></li>
                                <li id="shopping-cart"><a href="~/user/User/shopping-cart">Shopping Cart</a></li>
                                <li id="checkout"><a href="~/user/User/check-out">Checkout</a></li>
                                <li id="fag"><a href="~/user/User/Faq">Faq</a></li>
                                <li id="register"><a href="~/user/User/Register">Register</a></li>
                                <li id="login"><a href="~/user/User/Login">@_lang.Getkey("login")</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="~/user/User/Home"><i class="fa fa-home"></i> Home</a>
                        <span>Register</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Form Section Begin -->

    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/user/img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/user/img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/user/img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/user/img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/user/img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="~/user/img/footer-logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>@_lang.Getkey("address"): 60-49 Road 11378 New York</li>
                            <li>@_lang.Getkey("phone"): +65 11.188.888</li>
                            <li>Email: hello.colorlib@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>@_lang.Getkey("info")</h5>
                        <ul>
                            <li><a href="#">@_lang.Getkey("aboutus")</a></li>
                            <li><a href="#">@_lang.Getkey("checkout")</a></li>
                            <li><a href="#">@_lang.Getkey("contact")</a></li>
                            <li><a href="#">@_lang.Getkey("serivius")</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>@_lang.Getkey("myaccount")</h5>
                        <ul>
                            <li><a href="#">@_lang.Getkey("myaccount")</a></li>
                            <li><a href="#">@_lang.Getkey("contact")</a></li>
                            <li><a href="#">@_lang.Getkey("shopping_cart")</a></li>
                            <li><a href="#">@_lang.Getkey("shop")</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>@_lang.Getkey("join_our")</h5>
                        <p>@_lang.Getkey("get_email")</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="@_lang.Getkey("enter_email")">
                            <button type="button">@_lang.Getkey("subscribe")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="~/user/img/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/user/js/jquery-3.3.1.min.js"></script>
    <script src="~/user/js/bootstrap.min.js"></script>
    <script src="~/user/js/jquery-ui.min.js"></script>
    <script src="~/user/js/jquery.countdown.min.js"></script>
    <script src="~/user/js/jquery.nice-select.min.js"></script>
    <script src="~/user/js/jquery.zoom.min.js"></script>
    <script src="~/user/js/jquery.dd.min.js"></script>
    <script src="~/user/js/jquery.slicknav.js"></script>
    <script src="~/user/js/owl.carousel.min.js"></script>
    <script src="~/user/js/main.js"></script>

    
    <script src="~/user/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/user/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/user/js/site.js" asp-append-version="true"></script>
    <script src="~/user/js/site.js" asp-append-version="true"></script>
    <script>
        var currentUrl = window.location.pathname.replace(/^\/User\//, '').toLowerCase();
        console.log("currentUrl", currentUrl);
        var element;
        if (currentUrl == "")
            element = document.getElementById("home");
        else
            element = document.getElementById(currentUrl);

        console.log("element", element);
        element.classList.add("active")
    </script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
