@* @{
    ViewData["Title"] = "Register";
}

@model UserModel

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Register</h2>
                    <form method="post">

                        <div class="group-input">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="text" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="Username">Username</label>
                            <input asp-for="Username" type="text" class="form-control" id="username">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" class="form-control" id="pass">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="ConfirmPassword">ConfirmPassword</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="con-pass">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="Gender">Gender:</label>
                            <select asp-for="Gender" class="form-control">
                                <option value="">Select Gender</option>
                                <option value="Male">@Gender.Male</option>
                                <option value="Female">@Gender.Female</option>
                                <option value="Other">@Gender.Other</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>

                        <div class="group-input">
                            <label asp-for="Age">Age:</label>
                            <select asp-for="Age" class="form-control">
                                <option value="">Select Age</option>
                                @for (int i = 12; i <= 120; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>



                        <button type="submit" class="site-btn register-btn">REGISTER</button>
                    </form>
                    <div class="switch-login">
                        <a href="./login.html" class="or-login">Or Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End --> *@